.feedback-form {
  padding: 58px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: bisque;
}
.label-email {
  font-size: 18px;
}
.input-email {
  border: none;
  font-size: 24px;
  margin-left: 16px;
}
.label-message {
  font-size: 18px;
}
.textarea-message {
  margin-left: 8px;
  border: none;
  font-size: 24px;
}
.btn-submit {
  padding: 15px 30px;
  border: none;
  font-size: 19px;
  margin-left: 34px;
}
